# Ignore Python virtual environment directories
venv/

# Ignore cache files
__pycache__/
*.pyc

# Ignore API keys and sensitive information
config.py
.env
*.env
*.secret
config/
aircraftDataset.csv
opensky-api/

# Ignore VS Code project settings
.vscode/